/* VERSION PAR DÉFAUT (Home) */
.banner {
  position: relative;
  width: 100%;
  height: 224px;
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 40px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(65%);
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    width: 90%;
    z-index: 2;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
}

/* VERSION À PROPOS (pas d’overlay, pas de texte, pas de brightness) */
.banner--about {
  img {
    filter: none !important;
  }

  &::after {
    display: none !important;
  }

  .banner__text {
    display: none !important;
  }
}
/* -------------------------- version mobile ---------------------------- */

@media (max-width: 768px) {
  .banner {
    height: 160px;

    &__text {
      font-size: 24px;
    }
  }
}
