.error {
  text-align: center;
  padding: 80px 20px;
  color: #ff6060;

  &_code {
    font-size: 280px;
    font-weight: 700;
    margin: 0;
    line-height: 1;
  }

  &_text {
    font-size: 24px;
    margin: 20px 0 40px;
  }

  &_link {
    font-size: 18px;
    color: #ff6060;
    text-decoration: underline;
  }
}

@media (max-width: 768px) {
  .error__code {
    font-size: 120px;
  }

  .error__text {
    font-size: 18px;
  }
}
