.error {
  text-align: center;
  padding: 80px 20px;
  color: #ff6060;

  &__code {
    font-size: 288px;
    font-weight: 700;
    margin: 0;
  }

  &__text {
    font-size: 36px;
    margin: 20px 0 80px;
  }

  &__link {
    color: #000;
    font-size: 18px;
    text-decoration: underline;
  }
}

/* Responsive */
@media (max-width: 768px) {
  .error {
    padding: 40px 20px;

    &__code {
      font-size: 96px;
    }

    &__text {
      font-size: 18px;
      margin: 20px 0 40px;
    }

    &__link {
      font-size: 14px;
    }
  }
}
