.footer {
  background: #000000;
  height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 50px; // espace avec le contenu au-dessus

  &__logo {
    width: 120px;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 24px;
    font-weight: 500;
  }
}
