@import "./reset.scss";
@import "./variables.scss";
@import "./mixins.scss";

/* Layout */
@import "./header.scss";
@import "./footer.scss";

/* Components */
@import "./banner.scss";
@import "./card.scss";

/* Pages */
@import "./home.scss";
@import "./about.scss";
@import "./logement.scss";
@import "./error.scss";

body {
  margin: 0;
  padding: 0;
  background: #fff;
}
