.header {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;

  &__logo {
    height: 68px;
  }

  &__nav {
    display: flex;
    gap: 40px;

    a {
      color: #323131;
      font-size: 24px;
      text-decoration: none;

      &.active {
        text-decoration: underline;
      }
    }
  }
}

/* Responsive mobile */
@media (max-width: 768px) {
  .header {
    padding: 20px;

    &__logo {
      height: 47px;
    }

    &__nav {
      gap: 20px;

      a {
        font-size: 18px;
        text-transform: uppercase;
      }
    }
  }
}
