.host {
  display: flex;
  align-items: center;
  gap: 10px;

  &__name {
    color: #ff6060;
    font-size: 18px;
    text-align: right;
    width: 100px;
    line-height: 1.2;
  }

  &__picture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
  }
}
