.logement {
  max-width: 1240px;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 50px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
  }

  &__infos {
    h1 {
      font-size: 26px;
      font-weight: 500;
      color: #ff6060;
      margin-bottom: 10px;
    }

    p {
      color: #333;
      font-size: 18px;
      margin-bottom: 15px;
    }

    .tags {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      margin-top: 10px;

      .tag {
        background: #ff6060;
        color: white;
        padding: 5px 20px;
        border-radius: 10px;
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
      }
    }
  }

  &__host-rating {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
  }

  &__collapses {
    display: flex;
    gap: 20px;
    margin-top: 30px;

    .collapse {
      flex: 1;
    }
  }
}

/* ----------------------  Version mobile --------------------------*/
@media (max-width: 768px) {
  .logement {
    padding: 10px;

    &__header {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      margin-top: 20px;
    }

    &__infos {
      h1 {
        font-size: 20px;
      }

      p {
        font-size: 14px;
      }

      .tags {
        gap: 8px;

        .tag {
          font-size: 12px;
          padding: 5px 15px;
          border-radius: 8px;
        }
      }
    }

    &__host-rating {
      width: 100%;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      gap: 0;
    }

    &__collapses {
      flex-direction: column;
      gap: 20px;
      margin-top: 20px;

      .collapse {
        width: 100%;
      }
    }
  }
}
