.rating {
  display: flex;
  gap: 5px;
  margin-top: 10px;

  img {
    width: 18px;
    height: 18px;
  }
}

/* -------------------------- version mobile ---------------------------- */
@media (max-width: 768px) {
  .rating {
    gap: 3px;

    img {
      width: 14px;
      height: 14px;
    }
  }
}
