.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout__content {
  flex: 1;
}
.layout__inner {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  background: #fff;
  width: 100%;
}
